<ion-view title="Tabs Controller" id="tabs">
    <ion-tabs class="tabs-stable tabs-icon-top">
        <ion-tab title="Where" icon="ion-ios-location-outline" href="#/tabs/location">
            <ion-nav-view name="where"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Who" icon="ion-ios-people-outline" href="#/tabs/invites">
            <ion-nav-view name="who"></ion-nav-view>
        </ion-tab>
        <ion-tab title="When" icon="ion-ios-clock-outline" href="#/tabs/date">
            <ion-nav-view name="when"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>