<div id="sign-in-container">
  <ion-view>
          <ion-nav-title>brewvite login</ion-nav-title>
          <ion-content>
            <a class="facebook-sign-in button button-block" ng-click="facebookLogin()">Login with Facebook</a>
            <div class="padding">
              <p class="text-center">
                <a href="#/forgot-password">Forgot password</a>
              </p>
            </div>
            <h1>{{ status }}</h1>
            <span class="{{classShow}}">
              <ion-spinner icon="android" id="sign-in-spinner"></ion-spinner>
            </span>
          </ion-content>
  </ion-view>
</div>